* {
    box-sizing: border-box;
}



body {
    font-family: 'Ubuntu', sans-serif;
    background:
        linear-gradient(rgba(214, 214, 214, 0.45),
            rgba(214, 214, 214, 0.45)),
        url("img/mcu_large.jpg");
}

.start {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
}

.quizContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.splashTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-margin-small {
    margin-top: 10px;
}

legend {
    display: block;
}

fieldset {
    border: none;
}

.question {
    border: 3px solid lightgrey;
    text-align: center;
    background-color: #74b5e3;
}

label {
    display: block;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.questionNumber {
    font-size: smaller;
}

.answers {
    background-color: lightgrey;
    padding: 15px;
}

.answer {
    cursor: pointer;
}

.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid grey;
    background-color: #74b5e3;
    flex-grow: 1;
}

.score button {
    height: 50%;
}

.score p {
    font-family: 'Permanent Marker', cursive;
}

.finalScore {
    border: 3px solid lightgrey;
    text-align: center;
    background-color: #74b5e3;
    padding: 20px;
}

a {
    text-decoration: none;
}

.retake {
    text-align: center;
    padding: 15px;
}

.hidden {
    display: none;
}
@media screen and (max-width: 700px) {
    .container {
        width: 90%;        
     }

    .quizContent {
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    .quizContent {
        width: 60%;
    }
}